.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms linear;
}

#search-bar {
  transition: box-shadow .2s ease-in-out;
}

.scroll-top {
  transition: box-shadow .2s ease-in-out;
}

.toggle {
  transition: box-shadow .2s ease-in-out;
}

.opportunity {
  transition: background-color .2s ease-in-out;
}

.opportunity-name {
  font-size: 1.2rem;
}

.opportunity-type {
  padding: 0.5rem;
  position: absolute;
  color: black;
  background-color: white;
  top: 15px;
  right: 18px;
}

.icon {
  color: #8589f4;
  margin-right: 10px;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
